{% load static %}
<html>
    <head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <title>Template for the dev blog</title>
    <!------ Include the above in your HEAD tag ---------->
    </head>
    <body>
    <!-- page-header -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-caption">
                        <h1 class="page-title">Python Blog</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
    <!-- news -->
    <div class="card-section">
        <div class="container">
            <div class="card-block bg-white mb30">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center footer">
                        <a href="http://hegland.pythonanywhere.com/" target="_blank">                      
                            <img src="../../static/images/python-dev-logo.png" alt="Python Developer Logo" width="35">
                            Python Developer Blog</a> 
                            {% if user.is_authenticated %}
                            <a href="{% url 'post_new' %}" class="top-menu">  
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                            {% endif %}    
                            </br>
                            <span class="photo-credit">(Photo by stein egil liland from Pexels)</span>
                    </div>
            </div>
            </div>
            </div>
            </div>
    </body>
</html>